body{
	background: rgba(20;100;200,40);
	color: blue black,
	font-family: arial, new times romance,tahoma;
	font-size:16px;
	line-height: 1.6em;
	margin: 0;
}

.container{
width: 80%;
margin: auto;
overflow: hidden;
}

#mainheader{
	background: red;
	color: white;
}

#navbar{
	background: #333;
	color: #fff;
}

#navbar ul{
	padding: 0;
	list-style: none;

}

#navbar li{
	display: inline;
}

#navbar a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;
}

#showcase{
	background-image:url(images/picture.jpg.jpeg);
	background-position: center right;
	background-attachment: fixed;
	background-position: center;
	border-image-width: 1000px
	background-size:cover;
	min-height: 300;
	margin-bottom: 30px;
	text-align: center;
}

#showcase h1{
	color: gold;
	font-size: 50px;
	line-height: 1.6em;
	padding-top: 30px;

}

#main{
	float: left;
	width: 70%;
	padding: 0 30px;
	box-sizing: border-box;

}

#sidebar{
	float: right;
	width: 30%;
	background: #333;
	color: #fff;
	padding: 10px;
	box-sizing: border-box;
	
}

#main-footer{
	background: #333;
	color: #fff;
	text-align: right;
	padding: 20px;
	margin-top: 40px;

}

@media(max-width: 600px){
	#main{
		width: 100%
		float: none;
	}

	#sidebar{
		width: 100%
		float: none;
	}
}